@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --primaryColor: #0067ff;
  --hover: #0b59ce;
  --bgColor: #111319;
  --bgSecondary: #232323;
  --fontPrimary: rgb(238, 238, 238);
  --fontSecondary: rgb(187, 187, 187);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bgColor) !important;
  color: var(--fontPrimary) !important;
}

a {
  color: var(--primaryColor) !important;
  text-decoration: none !important;
  transition: 0.3s;
}
a:hover {
  color: #3377df !important;
}
li {
  list-style: none;
}
.active {
  color: #9ac0f7 !important;
}
